* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.main {
    width: 1200px;
    height: 482px;
}

.page-3 {
    background-color: #121214;
    display: flex;
}

.p-text {
    color: white;
    align-self: center;
    padding-left: 48px;
    font-family: 'Roboto' 'Regular';
}

.font-1 {
    font-size: 12px;    
    color:#A6A8AD;
    padding-top: 204px;
}

.font-2 {
    font-size: 28px;
    padding-top: 5px;
    padding-bottom: 12px;
}

.font-3 {
    font-size: 16px;
}

.button {
    width: 159px;
    height: 36px;
    border-radius: 8px;
    background-color: #0033FF;
    text-align: center;
    justify-content: center;
    display: flex;
    margin-top: 23px;
}

.button a {
    font-size: 24px;
    color: white;
    text-decoration: none;
}

.img {
    padding-left: 83px;
}